<section class="main_testimony container-fluid py-5">
  <!-- <div data-aos="fade-left" data-aos-duration="2000">
  </div> -->
  <h1 class="text-center mb-4">Depoimentos</h1>

  <div
    id="carouselTestimonials"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="4000"
  >
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <p class="fs-5 px-3">
          "Sabe quando você participa de algo e sente que estava no lugar certo,
          na hora certa? Foi exatamente assim. O Workshop me trouxe muito mais
          do que aprendizado técnico — me reconectei comigo mesma. Saí
          inspirada, com novas ideias e com vontade de colocar tudo em prática!"
        </p>
      </div>

      <div class="carousel-item">
        <p class="fs-5 px-3">
          "O Workshop foi direto ao ponto. Os conteúdos foram bem aplicáveis no
          dia a dia e os facilitadores souberam conduzir com clareza. Com
          certeza saí mais preparada e confiante para colocar tudo em prática."
        </p>
      </div>

      <div class="carousel-item">
        <p class="fs-5 px-3">
          "Foi simplesmente tudo! Eu amei cada parte, desde as palestras até os
          momentos de interação. Me senti super acolhida e aprendi coisas que
          não vejo nem na faculdade. Já quero o próximo!"
        </p>
      </div>
    </div>

    <!-- Controles -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselTestimonials"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselTestimonials"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</section>
