body {
  padding: 0;
  margin: 0;
}
.container_header {
  display: flex;
  width: 100vw;
  background-color: #6d5632;
  justify-content: space-between;
}
.container_nav {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
}

.formCadastro {
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
}
.formCadastro h2 {
  text-align: center;
  margin-bottom: 20px;
}
.formCadastro label {
  display: block;
  margin-bottom: 5px;
}
.formCadastro input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #c2c0c0;
  border-radius: 4px;
}
.formCadastro button {
  width: 100%;
  padding: 10px;
  background-color: #6d5632;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.containerAddVideios {
  display: flex;
  flex-direction: column;
  background-color: #f8f8ff;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
}
.containerAddVideios h2 {
  text-align: center;
  margin-bottom: 20px;
}
.containerAddVideios label {
  display: block;
  margin-bottom: 5px;
}
.containerAddVideios input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #c2c0c0;
  border-radius: 4px;
}
.containerAddVideios button {
  width: 100%;
  padding: 10px;
  background-color: #6d5632;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container_nav a {
  color: #ffffff;
  text-decoration: none;
}
.container_nav a:hover {
  color: #ffffff;
  background-color: #a68c5b;
  border-radius: 10px;
  padding: 10px;
}
.container_nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.container_header img {
  display: flex;
  width: 10vw;
}

#containerAddVideios {
  display: none;
}
#tabela_videios {
  display: none;
}

.tabela_videios {
  margin: 7vw;
}

.nav-roll button {
  border-radius: 25px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav-roll button:hover {
  background-color: var(--cor-botao);
  color: #fff;
  transform: translateY(-2px);
}
.btn {
  border: 1px solid #6d5632;
}
.container {
  border: 2px solid #6d5632;
}

@media (max-width: 768px) {
  .container_header img {
    width: 17vw;
  }
  .custom-nav {
    flex-direction: column;
  }
  .container_main {
    position: relative;
    bottom: 40px;
  }
  .btn-primary {
    width: 100%;
    margin-top: 5px;
  }
}
