.h3 {
  font-family: var(--font-principal);
  color: var(--cor-titulo);
}
.container {
  margin-top: 5vw;
}
.header-custom {
  background-color: var(--cor-titulo) !important;
}
.bi-person-circle {
  font-size: 90px;
  color: var(--cor-botao);
}

.btn-custom {
  background-color: var(--cor-botao);
  border-color: var(--cor-botao);
  color: white;
  transition: background-color 0.3s;
}
.btn-custom:hover {
  background-color: #5a5037;
  border-color: #5a5037;
  color: white;
}

.profile-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--cor-botao);
}

/* Cards */
.card {
  border-color: rgba(109, 86, 50, 0.2);
}

.card-cert {
  background-color: var(--fundo-certificados);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
.card-cert:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.card-cert .card-title {
  color: var(--cor-titulo-destaque) !important;
}

.progress-bar-custom {
  background-color: var(--cor-titulo-destaque) !important;
}

.alert-info-custom {
  background-color: var(--fundo-sobre);
  border-color: var(--cor-titulo-destaque);
  color: var(--cor-texto);
}

.modal {
  background-color: transparent !important;
}
@media print {
  .modal-backdrop,
  .modal {
    display: none !important;
  }
}
