<div class="img_background"></div>
<main class="container">
  <h2 class="text-primary">Área do Aluno</h2>

  <form
    #form="ngForm"
    (ngSubmit)="salvarAlteracoes(form)"
    class="bg-white p-4 rounded shadow"
  >
    <div class="mb-3">
      <label for="email" class="form-label">Alterar E-mail</label>
      <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        [(ngModel)]="email"
        placeholder="Seu novo e-mail"
        required
        #emailInput="ngModel"
      />
      <div *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">
        Campo de e-mail é obrigatório.
      </div>
    </div>

    <div class="mb-3">
      <label for="senha" class="form-label">Alterar Senha</label>
      <input
        type="password"
        id="senha"
        name="senha"
        class="form-control"
        [(ngModel)]="senha"
        placeholder="Nova senha"
        required
        #senhaInput="ngModel"
      />
      <div *ngIf="senhaInput.invalid && senhaInput.touched" class="text-danger">
        Campo de senha é obrigatório.
      </div>
    </div>

    <button type="submit" class="btn btn-primary w-100">
      Salvar Alterações
    </button>
  </form>

  <hr class="my-5" />

  <h2 class="text-primary">Certificado</h2>
  <p>Você pode gerar seu certificado de participação ou conclusão abaixo:</p>
  <button class="btn btn-outline-primary" (click)="abrirModal()">
    Gerar Certificado
  </button>
</main>

<!-- Modal -->
<div
  *ngIf="modalAberto"
  class="modal-overlay d-flex justify-content-center align-items-center"
>
  <div class="modal-container bg-white p-4 rounded shadow">
    <h4 class="text-primary mb-3">Certificado Lumière Estética</h4>
    <img
      src="/assets/goldenflower.jpg"
      alt="Certificado"
      class="img-fluid rounded mb-3"
    />
    <div class="d-grid gap-2">
      <button class="btn btn-primary" (click)="imprimir()">Imprimir</button>
      <button class="btn btn-primary" (click)="baixarImagem()">
        Baixar Imagem
      </button>
      <button class="btn btn-primary" (click)="compartilharCertificado()">
        Compartilhar
      </button>
    </div>
    <button class="btn btn-link mt-3" (click)="fecharModal()">Fechar</button>
  </div>
</div>
<app-footer></app-footer>
