<section class="procedimentos container py-5">
  <h2 class="text-center mb-5">PROCEDIMENTOS</h2>
  <div class="row g-4 justify-content-center">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="card procedimento-card">
        <img
          src="/assets/relaxante.png"
          class="card-img-top"
          alt="Massagem"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Massagem Relaxante</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="card procedimento-card">
        <img
          src="/assets/diamante.png"
          class="card-img-top"
          alt="Massagem"
        />
        <div class="card-body text-center">
          <h5 class="card-title">Peeling De Diamante</h5>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
      <div class="card procedimento-card">
        <img
          src="/assets/agulhamento.png"
          class="card-img-top"
          alt="Massagem"
        />
        <div class="card-body text-center">
          <h5 class="card-title">MicroAgulhamento</h5>
        </div>
      </div>
    </div>
  </div>
</section>
