.cards img {
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cards h3 {
  margin: 10px 0;
}

.star-rating i {
  color: gold;
  margin: 0 2px;
}

.Workshop_txt {
  text-align: center;
  font-family: var(--font-principal), serif;
}

.card-img-top {
  width: 30vw;
}
.Workshop_txt {
  color: #5c4033;
  font-family: var(--font-principal), serif;
  font-weight: 500;
}
.card-title {
  font-family: var(--font-principal), serif;
  color: var(--cor-texto);
  font-weight: 600;
}
.mb-1 {
  font-family: var(--font-principal), serif;
  color: var(--cor-texto);
  font-weight: 600;
}
.card-grande {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-grande:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.carousel {
  height: 26vw;
}
