.container_header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: var(--cor-principal);
}
.container_header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.container_header a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.container_header a:hover {
  color: darkblue;
  text-decoration: underline;
}
.container_header a:active {
  color: darkred;
}

.container_header img {
  width: 8rem;
}
