.container_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  backdrop-filter: blur(30px);
}

.container_header img {
  height: 6rem;
  margin-right: 20px;
}

.container_header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.container_header nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
}
.container_header nav ul li a:hover {
  color: var(--cor-titulo);
  font-weight: 700;
  transition: color 0.3s;
}

.btn-login_block {
  margin-left: auto;
  margin-right: 15px;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
.btn-login {
  pointer-events: none;
  background-color: transparent;
  color: transparent;
}

.modal-body {
  color: var(--cor-titulo-destaque);
  font-size: 20px;
  font-weight: 600;
}

.modal-title {
  color: var(--cor-titulo);
}
