<router-outlet></router-outlet>
<body>
  <section class="bg-primary2 container_center">
    <div class="container">
      <h1 class="display-5">Aprenda com as Melhores!</h1>
      <p class="lead">
        Desenvolva tudo oque aprender para melhorar sua estetica!
      </p>
      <form
        class="search-bar d-flex justify-content-center align-items-center"
        role="search"
      >
        <input
          class="form-control me-2 w-50"
          type="search"
          placeholder="Buscar cursos"
          aria-label="Search"
        />
        <button class="btn" type="submit">Buscar</button>
      </form>
    </div>
  </section>
  <app-carousel-workshop></app-carousel-workshop>
  <!-- === LISTA HORIZONTAL (tipo Search Udemy) === -->
  <section class="course-list">
    <h2 class="texto text-center">Todos os Cursos</h2>
    <div class="course-list-item">
      <img
        src="/assets/img_Maquiagem.png"
        alt="Modern JavaScript From The Beginning"
      />
      <div class="course-info">
        <h3>Maquiagem</h3>
        <p class="author">
          Domine a arte da maquiagem em todos os estilos, do social ao
          editorial. Desenvolva habilidades para realçar a beleza, corrigir
          imperfeições e criar visuais marcantes que impressionam.
        </p>
        <a href="#" target="btn" class="btn">Detalhes do curso</a>
        <div class="course-meta">
          <span class="rating">⭐ 4.7 (202,721)</span>
          <span class="details">21.5 Total de Horas</span>
        </div>
        <div class="price">R$18.99</div>
      </div>
    </div>

    <div class="course-list-item">
      <img
        src="/assets/img_Massagem.png"
        alt="The Modern JavaScript Bootcamp"
      />
      <div class="course-info">
        <h3>Massagem</h3>
        <p class="author">
          Aprenda manobras de massagem relaxante e terapêutica para aliviar
          tensões, melhorar a circulação e promover o bem-estar integral dos
          seus clientes com um toque profissional.
        </p>
        <a href="#" target="btn" class="btn">Detalhes do curso</a>
        <div class="course-meta">
          <span class="rating">⭐ 4.8 (49,435)</span>
          <span class="details">29.5 Total de Horas</span>
        </div>
        <div class="price">R$23.99</div>
      </div>
    </div>

    <div class="course-list-item">
      <img src="/assets/img_cilios.png" alt="The Modern JavaScript Bootcamp" />
      <div class="course-info">
        <h3>Alongamento de Cílios</h3>
        <p class="author">
          Domine o fio a fio, volume russo e híbrido para resultados impecáveis.
        </p>
        <a href="#" target="btn" class="btn">Detalhes do curso</a>
        <div class="course-meta">
          <span class="rating">⭐ 4.8 (49,435)</span>
          <span class="details">29.5 Total de Horas</span>
        </div>
        <div class="price">R$23.99</div>
      </div>
    </div>

    <div class="course-list-item">
      <img src="/assets/img_pele.png" alt="The Modern JavaScript Bootcamp" />
      <div class="course-info">
        <h3>Limpeza de Pele Profunda</h3>
        <p class="author">
          Técnicas passo a passo para uma pele renovada e saudável.
        </p>
        <a href="#" target="btn" class="btn">Detalhes do curso</a>
        <div class="course-meta">
          <span class="rating">⭐ 4.8 (49,435)</span>
          <span class="details">29.5 Total de Horas</span>
        </div>
        <div class="price">R$23.99</div>
      </div>
    </div>

    <div class="course-list-item">
      <img
        src="/assets/img_Skincare.png"
        alt="The Modern JavaScript Bootcamp"
      />
      <div class="course-info">
        <h3>Técnica suave para eliminar toxinas e reduzir inchaços.</h3>
        <p class="author">
          Técnica suave para eliminar toxinas e reduzir inchaços.
        </p>
        <a href="#" target="btn" class="btn">Detalhes do curso</a>
        <div class="course-meta">
          <span class="rating">⭐ 4.8 (49,435)</span>
          <span class="details">29.5 Total de Horas</span>
        </div>
        <div class="price">R$23.99</div>
      </div>
    </div>

    <div class="course-list-item">
      <img src="/assets/img_peeling.png" alt="The Modern JavaScript Bootcamp" />
      <div class="course-info">
        <h3>Peeling Químico e Mecânico</h3>
        <p class="author">Aprenda a renovar a pele com segurança e eficácia.</p>
        <a href="#" target="btn" class="btn">Detalhes do curso</a>
        <div class="course-meta">
          <span class="rating">⭐ 4.8 (49,435)</span>
          <span class="details">29.5 Total de Horas</span>
        </div>
        <div class="price">R$23.99</div>
      </div>
    </div>
  </section>

  <!-- <footer>&copy; 2025 Workshop Cursos. Todos os direitos reservados.</footer> -->
</body>
