<section class="bg-primary2 container_center">
  <div class="container">
    <!--h1 class="display-5">Aprenda com as Melhores!</!--h1>
    <p-- class="lead">
      Desenvolva tudo oque aprender para melhorar sua estetica!
    </p-->
    <form class="search-bar d-flex justify-content-center align-items-center" role="search">

      <!-- <input
        class="form-control me-2 w-50 p-1"
        type="search"
        placeholder="Buscar cursos"
        aria-label="Search"
      />
    <button class="btn p-1" type="submit">Buscar</button> === -->
    </form>
  </div>
</section>
<app-carousel-workshop></app-carousel-workshop>

<section class="template">
  <div>
    <h1></h1>
  </div>

  <section class="course-section">
    <h2 class="texto">-----Todos os Cursos-----</h2>


    <div class="courses-layout">
      <!-- Sidebar de filtros -->

      <!-- Lista de cursos -->
      <div class="course-list">
        <div class="course-list-item" *ngFor="let curso of cursosParaOsCard">
          <img [src]="curso.caminhoDaCapa" [alt]="curso.tituloDoCurso">
          <div class="course-info">
            <h3>{{ curso.tituloDoCurso }}</h3>
            <p class="course-meta">{{ curso.descricao }}</p>
            <span class="price">{{ curso.preco }}</span>
            <button class="buy-btn">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
