<div class="img_background"></div>
<div class="container">
  <section class="card">
    <h2 class="card-header">Resumo da Compra</h2>

    <div *ngIf="cursosNoCarrinho.length > 0; else null" class="cart-items">
  <article class="cart-item" *ngFor="let curso of cursosNoCarrinho; let i = index">
    <div class="item-thumb">
      <img [src]="'http://localhost:8080' + curso.caminhoDaCapa" [alt]="curso.tituloDoCurso">
    </div>
    <div class="item-details">
      <a href="#" class="item-title">{{ curso.tituloDoCurso }}</a>
      <div class="item-price">{{ curso.preco }}</div>
    </div>
    <button class="remove-btn" (click)="remover(i)">X</button>
  </article>



    </div>
  </section>

  <section class="summary">
    <h3>Resumo do Pedido</h3>
    <div class="summary-line">
      <span>Subtotal</span>
      <span>{{ total | currency:'BRL':'symbol':'1.2-2' }}</span>
    </div>
    <div class="summary-line">
      <span>Descontos</span>
      <span>R$ 0,00</span>
    </div>
    <div class="summary-line total">
      <span>Total : {{ total | currency:'BRL':'symbol':'1.2-2' }}</span>
      <span></span>
    </div>

    <form id="payment-form" class="payment-methods">
      <label>
        <input type="radio" name="payment" value="credit" />
        <span class="payment-label">Cartão de Crédito</span>
      </label>

      <label>
        <input type="radio" name="payment" value="debit" />
        <span class="payment-label">Cartão de Débito</span>
      </label>

      <!-- Pix e Boleto agrupados lado a lado -->
      <div class="payment-row">
        <label>
          <input type="radio" name="payment" value="pix" />
          <span class="payment-label">Pix</span>
        </label>

        <label>
          <input type="radio" name="payment" value="boleto" />
          <span class="payment-label">Boleto</span>
        </label>
      </div>

      <button type="submit" class="btn-finalizar">Pagar</button>
    </form>

    <!-- Modal -->
    <div id="payment-modal" class="modal" (click)="handleBackdropClick($event)">
      <div id="modal-content" class="modal-content" #modalContent></div>
    </div>
  </section>
</div>
<app-footer></app-footer>
