<div class="img_background"></div>
<div class="container">
  <section class="card">
    <h2 class="card-header">Resumo da Compra</h2>
    <div class="cart-items">
      <article class="cart-item">
        <div
          class="item-thumb"
          style="
            background-image: url(&quot;https://img-c.udemycdn.com/course/240x135/750012_fc61_3.jpg&quot;);
          "
        ></div>
        <div class="item-details">
          <a href="#" class="item-title">Curso Completo de Limpeza de Pele</a>
          <div class="item-instructor">por João Silva</div>
          <div class="item-price">R$ 79,90</div>
        </div>
        <button class="remove-btn">X</button>
      </article>

      <article class="cart-item">
        <div
          class="item-thumb"
          style="
            background-image: url(&quot;https://img-c.udemycdn.com/course/240x135/3124288_6f29_2.jpg&quot;);
          "
        ></div>
        <div class="item-details">
          <a href="#" class="item-title">Design Gráfico para Iniciantes</a>
          <div class="item-instructor">por Maria Oliveira</div>
          <div class="item-price">R$ 59,90</div>
        </div>
        <button class="remove-btn">X</button>
      </article>
    </div>
  </section>

  <section class="summary">
    <h3>Resumo do Pedido</h3>
    <div class="summary-line">
      <span>Subtotal</span>
      <span>R$ 139,80</span>
    </div>
    <div class="summary-line">
      <span>Descontos</span>
      <span>R$ 0,00</span>
    </div>
    <div class="summary-line total">
      <span>Total</span>
      <span>R$ 139,80</span>
    </div>

    <form id="payment-form" class="payment-methods">
      <label>
        <input type="radio" name="payment" value="credit" />
        <span class="payment-label">Cartão de Crédito</span>
      </label>

      <label>
        <input type="radio" name="payment" value="debit" />
        <span class="payment-label">Cartão de Débito</span>
      </label>

      <!-- Pix e Boleto agrupados lado a lado -->
      <div class="payment-row">
        <label>
          <input type="radio" name="payment" value="pix" />
          <span class="payment-label">Pix</span>
        </label>

        <label>
          <input type="radio" name="payment" value="boleto" />
          <span class="payment-label">Boleto</span>
        </label>
      </div>

      <button type="submit" class="btn-finalizar">Pagar</button>
    </form>

    <!-- Modal -->
    <div id="payment-modal" class="modal" (click)="handleBackdropClick($event)">
      <div id="modal-content" class="modal-content" #modalContent></div>
    </div>
  </section>
</div>
<app-footer></app-footer>
