body {
  font-family: var(--font-secundaria);
  margin: 0;
  padding: 0;
}

.img_background {
  background-image: url(/assets/background_login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  border-radius: 15px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
  padding: 30px;
  max-width: 480px; /* largura ideal */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
}

.card-header {
  font-family: var(--font-principal);
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background-color: var(--cor-titulo);
  color: white;
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  margin-top: 15px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo {
  max-width: 150px;
  height: auto;
}

.form-label {
  font-family: var(--font-principal);
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

input.form-control {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}

.btn {
  background-color: var(--cor-titulo);
  border: none;
  padding: 12px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 18px;
  width: 100%;
}

.btn:hover {
  background-color: #5a4c39;
}

.text-center a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.text-center a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card {
  border-radius: 15px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
  padding: 30px;
  max-width: 600px; /* um pouco maior que o login */
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.5s ease-in-out;
}

.card-header {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  background-color: var(--cor-titulo);
  color: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

input.form-control {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
}
