<h1>Meu aprendizado</h1>
<h3>Continuar</h3>
<div class="containerCursosMain">
  <div class="containerAulas">
    <img src="/assets/img_Maquiagem.png" />
    <p>Maquiagem</p>
  </div>
  <div class="containerAulas">
    <img src="/assets/img_Maquiagem.png" />
    <p>Maquiagem</p>
  </div>
  <div class="containerAulas">
    <img src="/assets/img_Maquiagem.png" />
    <p>Maquiagem</p>
  </div>
  <div class="containerAulas">
    <img src="/assets/img_Maquiagem.png" />
    <p>Maquiagem</p>
  </div>
  <div class="containerAulas">
    <img src="/assets/img_Maquiagem.png" />
    <p>Maquiagem</p>
  </div>
  <div class="containerAulas">
    <img src="/assets/img_Maquiagem.png" />
    <p>Maquiagem</p>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
