<div class="Workshop_txt">
  <h1>Cursos em destaque</h1>
</div>
<div
  id="carouselWorkshop"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-interval="2500"
>
  <div class="carousel-inner">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="d-flex justify-content-center gap-4 flex-wrap w-100">
        <!-- Card 1 -->
        <div class="card card-grande">
          <img
            src="/assets/img_Massagem.png"
            class="card-img-top imagem-grande"
            alt="Massagem"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Massagem</h5>
            <h6 class="mb-1">Avaliações:</h6>
            <div class="star-rating">
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card card-grande">
          <img
            src="/assets/img_Skincare.png"
            class="card-img-top imagem-grande"
            alt="Skincare"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Skincare</h5>
            <h6 class="card-title-2 mb-1">Avaliações:</h6>
            <div class="star-rating">
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card card-grande">
          <img
            src="/assets/img_Maquiagem.png"
            class="card-img-top imagem-grande"
            alt="Maquiagem"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Maquiagem</h5>
            <h6 class="mb-1">Avaliações:</h6>
            <div class="star-rating">
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="d-flex justify-content-center gap-4 flex-wrap w-100">
        <!-- Card 1 -->
        <div class="card card-grande">
          <img
            src="/assets/img_Massagem.png"
            class="card-img-top imagem-grande"
            alt="Massagem"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Massagem</h5>
            <h6 class="mb-1">Avaliações:</h6>
            <div class="star-rating">
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="card card-grande">
          <img
            src="/assets/img_Skincare.png"
            class="card-img-top imagem-grande"
            alt="Skincare"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Skincare</h5>
            <h6 class="mb-1">Avaliações:</h6>
            <div class="star-rating">
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="card card-grande">
          <img
            src="/assets/img_Maquiagem.png"
            class="card-img-top imagem-grande"
            alt="Maquiagem"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Maquiagem</h5>
            <h6 class="mb-1">Avaliações:</h6>
            <div class="star-rating">
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
              <i class="bi bi-star-fill star"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- CONTROLES -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselWorkshop"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselWorkshop"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
</div>
