.cards img {
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cards h3 {
  margin: 10px 0;
}

.star-rating i {
  color: gold;
  margin: 0 2px;
}

.Workshop_txt {
  text-align: center;
  font-family: var(--font-principal), serif;
}

.card-img-top {
  width: 30vw;
}
.Workshop_txt {
  color: var(--cor-titulo-destaque);
  font-family: var(--font-principal), serif;
  font-weight: 500;
}
.card-title {
  font-family: var(--font-principal), serif;
  color: var(--cor-texto);
  font-weight: 600;
}
.mb-1 {
  font-family: var(--font-principal), serif;
  color: var(--cor-texto);
  font-weight: 600;
}
